@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #efba0f;
  --accent-color: #1cc6a5;
  --primary-bg: #f4f2df;
  --dark: #3a3a3a;
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--primary-bg);
}

h1,
h2,
h3,
p {
  color: var(--dark);
}

span {
  color: var(--accent-color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.section {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
